{% extends 'sportsdataapp/base.html' %}
{% load static %}

{% block content %}
    <h1 style="text-align: center;">Countries</h1>
        <p style="text-align: center;">{{ total }} countries in records</p>
        <form method="get" action="{% url 'countries' %}" class="form-inline" style="margin-bottom: 20px;">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Competitions</th>
                    <th>Code</th>
                    <th>Flag</th>
                </tr>
            </thead>
            <tbody>
                {% for country in countries %}
                    <tr>
                        <td>{{country.name }}</td>
                        <td>{{country.num_competitions }}</td>
                        <td>{{country.code }}</td>
                        <td><img src="{{ country.flag }}" alt="{{ country.name }} logo" width="40" height="40"></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">No countries found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}