{% extends 'sportsdataapp/base.html' %}
{% load static %}
{% block content %}
<html>
    <head>
        <title>Football Stats</title>
    </head>
    <body style="text-align: center;">
        <h1 style="text-align: center;">Welcome to Football Stats</h1>
        <p style="text-align: center;">View and Search by Table</p>
        <a href="{% url 'countries' %}" class="btn btn-primary" style="font-weight:bold;">Countries</a>
        <a href="{% url 'competitions' %}" class="btn btn-primary" style="font-weight:bold;">Competitions</a>
        <a href="{% url 'teams' %}" class="btn btn-primary" style="font-weight:bold;">Teams</a>
        <a href="{% url 'venues' %}" class="btn btn-primary" style="font-weight:bold;">Venues</a>
        <a href="{% url 'seasons' %}" class="btn btn-primary" style="font-weight:bold;">Seasons</a>
        <a href="{% url 'standings' %}" class="btn btn-primary" style="font-weight:bold;">Standings</a>
        <a href="{% url 'fixtures' %}" class="btn btn-primary" style="font-weight:bold;">Fixtures</a>
        <a href="{% url 'fixtures' %}" class="btn btn-primary" style="font-weight:bold;">Fixture Stats</a>

    </body>
</html>
{% endblock content %}