{% extends 'sportsdataapp/base.html' %}
{% load static %}

{% block content %}
    <h1 style="text-align: center;">Venues</h1>
        <p style="text-align: center;">Search and View Venues</p>

        <form method="get" action="{% url 'venues' %}" class="form-inline" style="text-align: center; margin-bottom: 20px;">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" class="form-control" value="{{ request.GET.name }}">
            </div>
            <div class="form-group">
                <label for="city">City:</label>
                <input type="text" id="city" name="city" class="form-control" value="{{ request.GET.city }}">
            </div>
            <div class="form-group">
                <label for="country">Country:</label>
                <input type="text" id="country" name="country" class="form-control" value="{{ request.GET.country }}">
            </div>
            <div class="form-group">
                <label for="surface">Surface:</label>
                <input type="text" id="surface" name="surface" class="form-control" value="{{ request.GET.surface }}">
            </div>
            <div class="form-group">
                <label for="competition">Competition:</label>
                <input type="text" id="competition" name="competition" class="form-control" value="{{ request.GET.competition }}">
            </div>
            <button type="submit" class="btn btn-primary" style="margin-left: 10px;">Search</button>
            <a href="{% url 'venues' %}" class="btn btn-default" style="margin-left: 10px;">Clear</a>
        </form>
        <p style="text-align: center; font-size: 20px; font-weight: bold;">{{ total }} venues found</p>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Country</th>
                    <th>Capacity</th>
                    <th>Surface</th>
                    <th>Logo</th>
                </tr>
            </thead>
            <tbody>
                {% for venue in venues %}
                    <tr>
                        <td>{{venue.name }}</td>
                        <td>{{venue.address }}</td>
                        <td>{{venue.city }}</td>
                        <td>{{venue.country }}</td>
                        <td>{{venue.capacity }}</td>
                        <td>{{venue.surface }}</td>
                        <td><img src="{{ venue.image }}" alt="{{ venue.name }} logo" width="40" height="40"></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">No venues found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}